### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Bower dependency directory (https://bower.io/)
bower_components

# Coverage directory
coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node_modules
node_modules

# JetBrains Idea
.idea
out/
*.iws


# macOS 
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# TypeScript cache
*.tsbuildinfo

# Build code
dist
build
build-typescript